@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Azeret Mono", monospace;
}
/* Share Style */
.container {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}

.why-web-dev-items-button a {
  text-decoration: none;
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 20px;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: 0%;
  text-align: center;
}
.why-web-dev-items-button {
  width: 180px;
  padding: 12px 20px 12px 20px;
  background: none;
  border: 1px solid rgb(13, 19, 33);
  opacity: 0.7;
}
.description {
  color: rgb(13, 19, 33);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
}
.center {
  text-align: center;
}
.heading {
  color: rgb(13, 19, 33);
  font-size: 32px;
  font-weight: 800;
  line-height: 32px;
  letter-spacing: 0%;
}
.box-heading {
  color: rgb(13, 19, 33);
  font-size: 24px;
  font-weight: 800;
  line-height: 32px;
  letter-spacing: 0%;
  margin-bottom: -8px;
}
.web-dev-heading {
  color: rgba(13, 19, 33, 0.7);
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0%;
  text-align: left;
}
.learn-more-link {
  color: rgb(13, 19, 33);
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 0%;
  text-decoration-line: underline;
}
.my-current-target-card {
  width: 284px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
}

/* Header Section */
.header {
  width: 100%;
  height: 652px;
  margin: 100px auto;
  background-image: url("../assets/Hero-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  border: 2px solid #ddd;
  border-style: dashed;
  border-left: none;
  border-right: none;
}

/* Navbar Section */
.header .navbar {
  margin: -80px auto;
  margin-bottom: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .navbar .nav-heading {
  font-size: 28px;
  font-weight: 800;
}
.header .navbar .nav-download {
  text-decoration: none;
  color: black;
}
.header .navbar .nav-download button {
  background: none;
  cursor: pointer;
  border: 1px solid rgb(13, 19, 33);
  border-radius: 8px;
  opacity: 0.8;
  padding: 10px 15px;
  border-radius: 5px;
  color: rgb(13, 19, 33);
  font-size: 20px;
  font-weight: 600;
  line-height: 23px;
  text-align: center;
}
/* hero-section */
.hero-section {
  height: 582px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
  margin: auto;
}
.hero-image {
  width: 160px;
}
.hero-section .hero-title {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 40px;
  font-weight: 800;
  line-height: 68px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 5px;
}
.hero-section .hero-description {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: center;
}
.hero-section .hero-btn {
  background: rgb(13, 19, 33);
  color: white;
  border: none;
  font-size: 20px;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: 0%;
  text-align: center;
  padding: 21px 24px 21px 24px;
  border-radius: 5px;
  cursor: pointer;
}
.hero-btn a {
  color: white;
  text-decoration: none;
}
/* why-web-dev-items Style */
.why-web-dev-items {
  margin: 75px auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 100px;
}
.why-web-dev-item-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}
.why-web-dev-item-1 p {
  color: rgb(13, 19, 33);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
}
.why-web-dev-item-2 {
  width: 100%;
  height: 240px;
  display: flex;
  justify-content: space-between;
  gap: 50px;
}
.will-do-coding-box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}
.will-do-coding-box p {
  color: rgb(13, 19, 33);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
}

.why-web-dev-item-3 {
  width: 100%;
  height: 240px;
  display: flex;
  justify-content: space-between;
  gap: 50px;
}
.modern-web-system-box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}
.modern-web-system-box p {
  color: rgb(13, 19, 33);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
}
.why-web-dev-item-4 {
  width: 100%;
  height: 240px;
  display: flex;
  justify-content: space-between;
  gap: 50px;
}
.do-coding-box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}
.do-coding-box p {
  color: rgb(13, 19, 33);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
}
/* my-inspiration Styles */
.my-inspiration {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  margin-bottom: 100px;
}
.my-inspiration-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}
.inspiration-video {
  width: 100%;
  border: 1px solid rgba(13, 19, 33, 0.2);
  border-radius: 25px;
  padding: 32px;
}
/* my-current-target Styles */
.my-current-target {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-bottom: 100px;
}
.my-target-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.my-target-content .description {
  text-align: center;
}
.my-target-current-cards {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  gap: 20px;
}
.my-current-target-card {
  display: flex;
  flex-direction: column;
  align-items: start;
  text-align: left;
}
.my-current-target-card img {
  width: 50px;
}
.card-1 {
  border-radius: 16px;
  background: rgba(255, 76, 30, 0.05);
}
.card-2 {
  border-radius: 16px;
  background: rgba(0, 76, 232, 0.05);
}
.card-3 {
  border-radius: 16px;
  background: rgba(255, 223, 0, 0.05);
}
/* My next Inspiration Style */
.next-inspiration {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-bottom: 100px;
}
.next-inspiration-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
}
.next-inspiration-cards {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}
.next-inspiration-card {
  width: 100%;
  padding: 40px;
  display: flex;
  justify-content: center;
  gap: 24px;
  border: 1px solid rgba(13, 19, 33, 0.15);
  border-radius: 16px;
  background: rgb(255, 255, 255);
}
.next-inspiration-card-content {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.next-inspiration-card img {
  width: 94.78px;
  height: 84.41px;
}
/* Footer Styles */
.need-support-Container {
  width: 100%;
  height: 500px;
  border-radius: 16px;
  margin-bottom: 100px;
  background-image: url("../assets/handshake.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}
.need-support-content {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.need-support-content p {
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: center;
}
.need-support-content h1 {
  color: rgb(255, 255, 255);
  font-size: 32px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0%;
  text-align: center;
}
.need-support-Container .input-container input {
  padding: 10px 20px;
  width: 350px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0%;
}
.need-support-Container .input-container button {
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  color: rgb(13, 19, 33);
  font-size: 20px;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: 0%;
  text-align: center;
}
.need-support-Container .input-container {
  margin: 0 auto;
}
.footer-link-container {
  width: 100%;
  margin-bottom: 50px;
}
.footer-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
